<table class="table table-striped">
<h2>User info</h2>
    <p><%= image_tag user.get_profile_image(100,100) %></p>
    <h6>name <%= user.name %></h6>
    <h6>introduction <%= user.introduction %></h6>

<h2>New book</h2>

<%= form_with model: book, url:'/books' do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>
</table>